body {
	padding:20px;
}


section {
	min-height:100px;
}

h1 {
	font-size: 45px;
	color: #2B547E;
	font-family: verdana;

}

h2 {
	font-size: 35px;
	color: #657383;
	font-family: verdana;
}

a {
	color: ##4863A0;
}

dd {
	color: #B6B6B4;
}

.col-lg-2 {
	color: #848482;
	font-size: 15px;

	
	
}